
.main{
width: 100%;
}
.tx{
    transform: translate(-10px, 0px);
}
.h-100{
height: 100%;
}
.container{
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
} 
/* top-banner  */
.top--banner{
 height: 897px;
    background-image:url('./image/image1.png');
    background-repeat: no-repeat;
    background-position: center;
}
.h-1006{
    height: 1006px;
    position: relative;
}
.layout{
  
    background-color: rgba(0,0,0,0.5);
    width: 100%;
  
    height: 100%;
}
.btm{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.head-box{
    padding: 20px 0;
    max-width: 1162px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.head-left{
    width: 20%;
}
.brand {
        font-size: 24px;
        font-weight: 700;
       color: white;
       line-height: 32px;
       letter-spacing: .1px;
 }
.head-right{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .headlist ul{
    display:flex ;
}
.headlist li{
    list-style: none;
}
.headlist ul li a{
    padding-left: 10px;
    text-decoration: none;
    color:white ;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.button{
    display: flex ;
        gap: 20px;
        padding-right: 95px;
        align-items: center;
    }
.button a{
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: .2px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.button2{
    background: #ff6551;
    border-radius: 5px;
    padding: 17px 28px;
    color: white;
}
.content--info{
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}
.course--info{
    max-width: 600px;
    color: white;
}
.headboxdatatop{
   max-width:701px;
    margin: 0 auto;
    padding: 39px 0;
    text-align: center;
    color: white;
}
.us{
    color: #ffc652;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
    display: inline-block;
}
h1{
    letter-spacing: 0.2px;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 40px;
}
.headboxdatatop p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}
.button3{
    background: #ff6551;
    border-radius: 5px;
    padding: 17px 39px;
    color: white;
    display: inline-block;
    margin-top: 40px;
}
.button3 a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .2px;
}
.d-flex{
    display: flex ;
        gap: 33px;  
        
    } 
.content--info-card{
    background-color: white;
    padding: 35px 55px 35px 40px;
    box-shadow:1px 1px 20px 1px #00000012}
.icon{
   margin-bottom: 20px;
    background: #b6d7ff;
   display: inline-block;
    padding: 20px 19px;
    border-radius: 10px;
}
h3{
    line-height: 32px;
    letter-spacing: .2px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: #ff6551;
    margin-bottom: 20px;
}
.content--info-card p{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    line-height: 20px;
    letter-spacing: .2px;
}
#thirdcard{
    background-color:  #ff6551;
    color: white;
}
/* top-banner end */
/* page1 */
.bodypage1{
    height: 783px;
}
.page1box{
    display: flex;
   
    align-items: center;
}
.page1left{
    width: 50%;
}
.image{
max-width: 525px;
max-height: 446px;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page1right{
    width: 50%;
}
.line1{
    width: 80px;
    height: 7px;
    background-color: #ff6551;
    margin-bottom: 15px;
}
h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
    letter-spacing: .2px;
}
.sameheading a{
    text-decoration: none;
    color:  #ff6551;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
}
.sameheading p{
   line-height: 20px;
   letter-spacing: .2px;
font-size: 14px;
font-weight: 400;
margin-bottom: 30px;
}
/* pagw-1 end */
/* page 2 */
.bodypage2{
min-height: 683px;
display: flex;
    align-items: center;
}
.page2box{
    display: flex;
    align-items: center;
}
.page2lift{
    width: 50%;
    justify-items: left;
    margin: auto;
}
.page2right{
    width: 50%;
}
.image1{
max-width: 470px;
max-height: 336px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* page-2 end */
/* page 3 */
.sameheading2 a{
    text-decoration: none;
    color:  #ff6551;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}
.sameheading2 p{
   line-height: 20px;
   letter-spacing: .2px;
font-size: 14px;
font-weight: 400;


}
.sameheading2 h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 10px;
    letter-spacing: .2px;
}
.sameheading2{
    max-width: 465px;
    height: 300px;
}
.bodypage3{
    min-height: 1072px;
    display: flex;
   align-items: center;
    
}
.page3up{
    margin-bottom: 112px;
}
.line2{
    margin-bottom: 10px;
font-size: 14px; 
font-weight: 700;
line-height: 24px;
letter-spacing: .2px;
color:  #ff6551;
}
.page3down{
    display: flex;
    gap: 30px;
}
.cardimage{
    position: relative;
    max-width: 240px;
    max-height: 300px;
}
.cardimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: unset;
}
.sale{
    display: inline-block;
    background:  #ff6551;
    padding: 0px 10px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.cardicon1{
    width: 50px;
    height: 50px;
}
.carddata{
    padding: 25px 28px 48px 25px;
}
.cardicon{
    display: flex;
    position: absolute;
    bottom: 30px;
   width: 100%;
   justify-content: center;
    gap: 10px;
}
.liberary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.liberary a {
    text-decoration: none;
    color: #ff6551;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
}
.carddata-image{
    width: 50PX;
    height: 26px;
}
.carddata h5{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1px;
    line-height: 24px;
    margin-bottom: 10px;
}
.carddata p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #737373;
    margin-bottom: 10px;
}
.download{
display: flex;
gap: 10px;
align-items: center;
margin-bottom: 10px;
}
.download-image{
    width: 16px;
    height: 16px;
}
.download h6{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2px;
    line-height: 24px;
    color: #737373;
  
}
.cardprice{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .1px;
    align-items: center;
    color: #BDBDBD;
}
.cardlinks{
    padding: 10px 0;
}
.cardlinks a{
    text-decoration: none;
    color: #ff6551;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid;
    padding: 12px 22px;
    border-radius: 50px;
}

/* page-3 end */
/* page 4 */
.page-4{
    min-height: 1471px;
    display: flex ;
        align-items: center;
    }
.page-4{
    background: #26335D;
}
.page4up{
    margin-bottom: 109px;

}
.page4box{
    max-width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.new-image{
width: 90px;
height: 90px;
position:absolute;
top: -30px;
right: -40px;
}
.cardbox-image{
    width: 90px;
    margin-bottom: 30px;
}
.cardbox1{
    width: 33.33%;
    background-color: white;
    padding: 50px 38px;
}
.mb-30{
    margin-bottom: 30px;
}
.cardbox1 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    display: inline-block;
    margin-bottom: 30px;
}
.cardbox1 h6{
    
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    
}
.cardbox1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
    margin-bottom: 30px;
}
.cardbox1-price{
color: #ff6551;
font-size: 40px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.2px;
margin-bottom: 30px;
}
.cardbox1-price h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
     color: #8EC2F2 !important;
   
}
.btn-text{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 15px 54px;
    border-radius: 5px;
    background-color: #ff6551;
    display: inline-block;
    align-items: center;
    color: white;
}
.cardbox{
    display: flex;
    gap: 40px;  
}
.datalist1{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.data-check i{
    background: #2DC071;
color: white;
width: 32px;
border-radius: 200px;
height: 32px;
align-content: center;
padding-left: 9px;
}
.datalist1 h6{
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: .2px;
}
/* page-4 end */
/* page-5 */
.page-5{
    height: 928px;
    display: flex ;
        align-items: center;
    }
.page5boxdown{
    display: flex;
    gap: 34px;
}
.box5left{
    width: 50%;
    padding-top: 17px;
}
.box5image{
    width: 128px;
    height: 132px;
    margin: 0 auto;
}
.box5image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
}
.bos5data{
    padding: 30px;
}
.bos5data p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
    text-align: center;
    margin-bottom: 15px;
    color: #737373;

}
.starimage{
    width: 130px;
    margin: auto;
    margin-bottom: 15px;
}
.bos5data h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
text-align: center;
margin-bottom: 5px
}
.bos5data h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2;
    color: #737373;
text-align: center;
}

/* page-5end */
/* page-6 */
.page6box{
    margin: 0 auto;
    max-width: 688px;
    text-align: center;
}
.page-6{
    min-height: 594px;
    display: flex;
    align-items: center;
}
button {
    background:#ff6551;
    padding: 21px 26px;
    border: none;
    color: white;
}
input{
    height: 58px;
    width: 65%;
    padding-left: 20px;
    border: 1px solid #E5E5E5;
    background: #F9F9F9;
}
/* page-6end */
/* footer */
footer{
    min-height: 272px;
    display: flex;
    align-items: center;
}
.footerbox{
    display: flex;
    justify-content: space-between;
}
.box1 h5{
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: .1px;
margin-bottom: 30px;
}

.box1 li{
    list-style: none;
   margin-bottom: 10px;

}
.box1 a{
    border: none;
    outline: none;
    text-decoration: none;
    color: #252B42;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing:.2px;
    text-transform: capitalize;
}
/* span{
    width: 22px;
} */
.mobileicon{
    width: 22px;
}
.mobileicon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer2{
    background: #FAFAFA;

}
.footicon{
    display: flex;
        gap: 10px;
}
.footerbox2{
    align-items: center;
    display: flex
;
    justify-content: space-between;
    padding: 25px 0;
}
.box2left h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
}

.box2right{
    display: flex;
    gap: 20px;
   margin-right: 30px;
}
.foot-icon{
    width: 24px;
    height: 24px;
}
.foot-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* footer end */

@media (max-width:1024px) {
    .container{
        max-width: 950px;
        margin: 0 auto;
        width: 100%;
        padding: 0px 40px;
    }
    .button {
        padding-right: unset;
    }
    .head-right {
        justify-content: space-around; 
    }
    .headboxdatatop {
        max-width: 701px;
        margin: 0 auto;
        padding: 39px 0;
        text-align: center;
        color: white;
        margin-top: 195px;
    }
    .headboxdatatop {margin-top: 190px;}
.mr-15{
    margin-bottom: 10px !important;
}
.cardflex {
    max-width: 850px;
    display: flex;
    gap: 20px;
}
.content--info-card { padding: 35px 19px 35px 19px;}
.carddata {padding: 25px 8px 48px 8px;}
.cardbox {gap: 20px;}
.cardbox1 {padding: 50px 14px;}
.new-image {
    position: absolute;
    top: -35px;
    right: -20px;}
    .page3down {gap: 15px;}
}
@media (max-width:992px){
    .cardflex {
        max-width: 850px;
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 60px;
    }
    .btn-text {
        padding: 15px 50px;
    }
}
@media (max-width : 768px){
    .container{
        max-width: 950px;
        margin: 0 auto;
        width: 100%;
        padding: 0px 20px;}
    .top--banner {
        background-size: cover;
    }
    .cardflex {
       flex-wrap: wrap;
       margin: 20px 0;
    }
    .content--info-card {
        border-radius: 5px;
        margin: 0 auto;
    }
    .content--info-card p {
       margin-bottom: 10px;
    }
    .h-100 {
        height: unset;
    }
    .head-right {
        width: auto;
        gap: 20px;
    }
    .head-right .button {
        padding-right: unset;
    }
    .card {
        width: calc(50% - 10px);
    }
 
    .d-flex {
        display: flex;
        gap: 33px;
    }
    .page3down {
        gap: 15px;
        flex-wrap: wrap;
    }
    .footerbox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        .head-box{
          padding: unset;
            display: flex ;
            align-items: center;
            flex-wrap: wrap;
            color: black;
        }
        .button2 {
            padding: 10px 18px; 
        }
        .head-left {
            padding: 10px;
            text-align: right;
            width: 100%;
        }
        .head-right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btm {
            display: flex ;
            flex-direction: column;
            justify-content: center;
            margin-top: 0px;
            height: unset;
        }
        .d-flex {
            gap: 15px;
            flex-wrap: wrap;
        }
        .icon {
            margin-bottom: 5px;
            background: #b6d7ff;
            display: inline-block;
            padding: 10px 10px;
            border-radius: 10px;
        }
        h3 {
            line-height: 32px;
            letter-spacing: .2px;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .line {
            width: 50px;
            height: 2px;
            background-color: #ff6551;
            margin-bottom: 10px;
        }
        .content--info-card {
            padding: 10px 10px 0px 30px;
        }
        .content--info {
           padding: 40px;
            align-items: unset;   
            height: unset;        
        }
        .button3 {
            padding: 8px 30px;
            margin-top: 20px;
        }
        .us {
            margin-bottom: 10px;
        }
        .cardbox {
            gap: 10px;
            flex-wrap: wrap;
        }
        .cardbox1 h3 {
            margin-bottom: 10px;
        }
        .cardbox1-price {
            margin-bottom: 10px;
        }
        .cardbox1 {
            padding: 20px 14px;
            width: calc(50% - 5px);
        }
        .new-image {
            display: none;
        }
        .datalist1 {
            padding: 5px 0;
        }
        .datalist1 h6 {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
        }
        .cardbox1 p {
            font-size: 13px;
            margin-bottom: 10px;
        }
        .cardbox-image{
            width: 80px;
            margin-bottom: 10px;
        }
        .new-image {
            width: 50px;
            height: 50px;
        }
        .btn-text {        
            padding: 5px 5px;
        }
        .bodypage1 {
            height: 783px;
            display: flex;
            align-items: end;
        }
        .page1left {
            width: unset;
        }
        .page1right {
            width: unset;
        }
        .page1box {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .page6up {
            margin-bottom: 30px;
        }
        .iamge{
            width: 300px;
            height: 300px;
        }
        .w-100{
            width: 100%;
        }
    }
@media (max-width : 576px){
    .head-right {
       flex-direction: column;
    }
.brand {
    text-align: center;
}
h1 { font-size: 40px;}
h2 {  font-size: 21px;}
.iamge {
    width: 160px;
    height: 160px;
}
.icon {
    width: 45px;
    height: 45px;
}
h3 {
    font-size: 18px;
}
.content--info-card p {
    font-size: 12px;
}
.page2box {
    flex-direction: column;
    gap: 25px;
}
.page2lift {
    width: 100%;
}
.page2right {
    width: 100%;
}
.cardicon1 {
    width: 30px;
    height: 30px;
}
.cardlinks a {
    padding: 5px 5px;
}
.box5image {
    width: 90px;
}
.starimage {
    width: 90px;
}
input {
    height: 45px;
    width: 60%;
}
button {
    padding: 15px 15px;
}
.bos5data {
    padding: 10px;
}


}